DISCORD_TOKEN=
DISCORD_GUILD_ID=
HOST_ROLE_ID=
CONTROL_CHANNEL_ID=
ZOMBIE_CHANNEL_ID=
TEAM_1_ROLE_ID=
TEAM_1_CHANNEL_ID=
TEAM_2_ROLE_ID=
TEAM_2_CHANNEL_ID=
TEAM_3_ROLE_ID=
TEAM_3_CHANNEL_ID=
TEAM_4_ROLE_ID=
TEAM_4_CHANNEL_ID=
TEAM_5_ROLE_ID=
TEAM_5_CHANNEL_ID=
TEAM_6_ROLE_ID=
TEAM_6_CHANNEL_ID=
TEAM_7_ROLE_ID=
TEAM_7_CHANNEL_ID=
TEAM_8_ROLE_ID=
TEAM_8_CHANNEL_ID=
DATABASE_URL=sqlite:///./data/ds_bot.sqlite3
LOG_LEVEL=INFO
